{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec magna sodales, ultrices dolor sit amet, maximus justo. Cras non volutpat ligula. Quisque dictum eu augue eget viverra. Proin mollis massa semper lacus sagittis, sit amet aliquet tellus mattis. Etiam scelerisque leo a porta consectetur. Pellentesque eget sagittis sem. Nullam sit amet enim non enim rutrum congue. Curabitur ut pharetra ex, sollicitudin feugiat arcu. Vestibulum commodo malesuada hendrerit. Ut laoreet dui eget sapien ornare, a malesuada sapien tempus. Aenean convallis metus a ipsum consectetur, in blandit lorem posuere. In sed eros arcu. Sed ac tempus justo, eget lacinia metus. Vivamus ipsum est, fringilla et iaculis eget, venenatis id metus. Suspendisse vitae dolor egestas nulla elementum ullamcorper. Etiam placerat pellentesque ante.</p>

{% endblock %}
